*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
@media screen and (max-width: 743px){
	/*РОБОТА БОГДАНА/ІЛЛІ*/
  .container{
    width: 360px;
  }
  .header{
  	position: relative;
  }
  .two{
    margin: 0;
  }
	.header_wrapper-span {
  left: auto;
  width: 30px;
  height: 5px;
  background-color: grey;
  border-radius: 20%;
  position: absolute;
  top: 26px;
}

.header_wrapper-span::after {
  content: '';
  width: 30px;
  height: 5px;
  background-color: grey;
  border-radius: 20%;
  position: absolute;
  top: 11px;
}

.header_wrapper-span::before {
  content: '';
  width: 30px;
  height: 5px;
  background-color: grey;
  border-radius: 20%;
  position: absolute;
  top: 22px;
}
.list{
	flex-direction: column;
}
.item{
	margin: 10px;
}

.checkbox:checked~.list>.item {
  width: 230px;
  display: block;
}

.checkbox:checked~.header_wrapper-label>.header_wrapper-span {
  background-color: transparent;
}

.checkbox:checked~.header_wrapper-label>.header_wrapper-span::after {
  transform: rotate(-45deg);
  top: 11px;
  border-radius: 0%;
}

.checkbox:checked~.header_wrapper-label>.header_wrapper-span::before {
  transform: rotate(45deg);
  top: 11px;
  border-radius: 0%;
}

.item {
  display: none;
}

.item {
  color: black;
  text-align: center;
}

.checkbox {
  display: none;
}

.item {
  font-size: 18px;
  height: 50px;
  width: 100px;
  color: #ABAEB5;
  text-align: center;
}

.item:hover {
  color: black;
  border-bottom: 1px solid #F6A410;
}

.logo {
    width: 82.26px;
    height: 79px;
}

.header{
  padding-top: 20px;
  margin-bottom: 10px;
  width: 360px;
  display: flex;
  justify-content: space-between;
}

.logo{
	margin-bottom: 30px;
	margin-left: 20px;
}
.header_wrapper{
  display: flex;
  flex-direction: row-reverse;
  width: 150px;
  padding-top: 50px;
  padding-right: 65px;
}

.img,.imgg {
  width: 50%;
}

.img {
  width: 789.754px;
  height: 451px;
}

.logo {
  width: 49.906px;
  height: 45.238px;
  flex-shrink: 0;
}

.title_1{
	font-size: 30px;
}
.title_2{
	font-size: 18px;
	line-height: 25px;
}

.lending_image{
   width: 360px;
   height: 214px;
}

.block_1{
	height: 135px;
}
.wrapper-text{
    height: 90px;
}
.button{
	width: 100px;
	height: 40px;
}
.text_button{
   font-size: 20px;
}
.section{
   width: 360px;
   height: 351px;
   display: flex;
   justify-content: space-between;
   flex-direction: column-reverse;
   align-items: flex-start;
}
.element1, .element2, .element3{
	display: none;
}
  /*KІНЕЦЬ РОБОТИ БОГДАНА/ІЛЛІ*/

  /*РОБОТА НАЗАРА*/
  .scrum-conception-section{
    width: 360px;
  }
  .scrum-conception{
    width: 360px;
    margin: 0 auto;
    margin-top: 40px;
  }
  .scrum-conception-title{
    font-family: Playfair Display;
    font-size: 30px;
    font-weight: 700;
  }
  .scrum-conception-section{
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .scrum-conception-card{
    width: 280px;
    margin-bottom: 35px;
  }
  .scrum-conception-card2{
    width: 280px;
    margin-bottom: 35px;
  }
  .scrum-conception-card3{
    width: 280px;
    margin-bottom: 35px;
  }
  .scrum-conception-card-list2{
    margin-left: 56px;
  }
  /*КІНЕЦЬ РОБОТИ НАЗАРА*/

	/*РОБОТА ІЛЛІ*/
	.section4{
		width: 340px;
		height: 1091px;
	}
	.image-scrum{
		width: 340px;
		height: 140px;
	}
	.none{
		display: none;
	}
	.text, .text2{
		font-size: 16px;
		line-height: 25px;
	}
	.brchick{
		display: none;
	}
	/*КІНЕЦЬ РОБОТИ ІЛЛІ*/

  /*РОБОТА НАЗАРА*/
  .how-work-kanban{
    width: 360px;
    margin-top: 40px;
  }
  .how-work-kanban-text1 , .how-work-kanban-text2{
    font-size: 16px;
    width: 340px;
  }
  .how-work-kanban-image{
    width: 340px;
    height: 142px;
  }
  /*КІНЕЦЬ РОБОТИ НАЗАРА*/

	/*РОБОТА ІЛЛІ*/
	.section7{
		width: 340px;
		height: 2149px;
	}
	.subtitle2{
		font-size: 30px;
		line-height: 40px;
	}
	.wrapper{
		width: 340px;
		height: 1449px;
		flex-direction: column;
	}
	.wrap2{
		width: 340px;
		height: 565px;
		flex-direction: column;
		margin-top: 50px;
	}
	.story-text{
		width: 320px;
	}
	.wrap-box{
		height: 64px;
	}
	/*КІНЕЦЬ РОБОТИ ІЛЛІ*/

	/*РОБОТА ІЛЛІ*/
	.section8{
		width: 340px;
		height: 1052px;
	}
	.image2{
		width: 340px;
		height: 282px;
		position: absolute;
		margin-top: -430px;
	}
	.secret-subtitle{
		font-size: 30px;
		line-height: 40px;
	}
	.secret-wrapper{
		width: 340px;
		height: 1052px;
	}
	.secret-text{
		font-size: 16px;
	    line-height: 25px;
	}
	/*КІНЕЦЬ РОБОТИ ІЛЛІ*/

	/*РОБОТА ІЛЛІ*/
	.footer{
    width: 360px;
    height: 620px;
  }
  .text-footer{
    font-size: 14.5px;
    line-height: 25px;
  }
  .wrap-footer{
    width: 340px;
    height: 393.33px;
    flex-wrap: wrap;
  }
  .logo2{
    width: 82.26px;
    height: 79px;
  }
  .mega-wrapper{
    width: 340px;
    height: 520px;
    flex-direction: column;
    justify-content: space-between;
  }
  .subr{
    display: none;
  }
  .br2{
  	display: none;
  }
  .box1{
    width: 335px;
    height: 120px;
    align-items: center;
  }
  .box2{
    width: 137.73px;
    height: 171px;
  }
  .box3{
    width: 152.98px;
    height: 217.84px;
  }
  .box4{
    width: 153.04px;
    height: 214.33px;
    bottom: 40px;
    position: relative;
  }
  .box5{
    width: 165.98px;
    height: 129px;
  }
  .one{
    line-height: 25px;
    justify-content: center;
  }
  .line{
    width: 300px;
  }
  /*КІНЕЦЬ РОБОТИ ІЛЛІ*/
}